body {
  height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

/* Quiz.jsx */
.quiz-number {
  position: fixed;
  top: 0px;
  left: 20px;
  color: #aaa;
  margin-bottom: 20px;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.quiz-option {
  margin-bottom: 10px;
}

.quiz-option button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  color: #333;
  cursor: pointer;
}

.quiz-option button:hover {
  background-color: #ddd;
}

.quiz-option button.selected {
  background-color: #0782F9;
  color: #fff;
}

.quiz-button {
  display: flex;
  justify-content: center;
}

.quiz-button button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.quiz-button button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Result.jsx */
.result-score {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #0782F9;
}

.result-answer {
  margin-bottom: 10px;
}

.result-button {
  display: flex;
  justify-content: center;
}

.result-button button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.result-button button:not(:last-child) {
  margin-right: 10px;
}

.result-button button:hover {
  background-color: #555;
}